/* Your styles here */

@import url("https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Poppins:wght@400;700&family=Roboto+Mono:wght@100;400;700&display=swap");

#logo {
  width: 100%;
  background-color: #222f3f;
  height: 1.5rem;
  padding: 10px;
}
nav {
  background-color: #364759;
  padding: 0.3em;
  width: 100%;
}
li {
  display: inline-block;
  margin-right: 1em;
  color: #fafefd;
  font-family: sans-serif;
  font-size: small;
}
main {
  padding: 15px;
}
.class {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#promo {
  background-color: #f46600;
  color: #fafefd;
  font-family: sans-serif;
  font-size: small;
  padding: 0.2em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#banner {
  background-image: url(../images/bg-image.png);
  background-size: contain;
  height: 7em;
  padding: 0.8em;
  margin-top: 16px;
  color: #fafefd;
  font-family: sans-serif;
}
#banner p {
  margin-top: 30px;
  font-family: "Hedvig Letters Sans", sans-serif;

  font-weight: bold;
  line-height: inherit;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
#subtitle {
  font-size: smaller;
}
.roll {
  width: 150px;
  height: 200px;
  border-radius: 42px 42px 42px 42px;
  margin: 15px;
}
article {
  display: inline;
}
span {
  font-family: sans-serif;
  font-size: small;
  font-weight: bold;
  color: #266e7f;
}
footer {
  background-color: #222f3f;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: auto;
}
#bottom-logo {
  padding: 20px;
}
footer a {
  display: block;
  background-color: #364759;
  width: 100%;
  color: #fafefd;
  font-family: sans-serif;
  font-size: smaller;
  padding: 10px;
  height: auto;
}
